.main{
  display: flex;
}

.inner{
width: 500px;
height: fit-content;
border-color: black;
background: linear-gradient(90deg, #4e3b7a, #2444e2);padding:30px;
justify-items: center;
margin-top: 100px;
box-shadow: 0 1px 55px rgb(84, 84, 199);


}
.inner input{
    margin-left: 70px;
    font-size: 25px;
    margin-bottom: 20px;
    

}
.submit{
    font-size: 25px;
    margin-left: 5px;
    background-color: rgb(9, 247, 65);
}
.data{
   
}
.inner1{
  width: 400px;
  
  background-color: aliceblue;
  display: flex;
  padding:10px;
  margin-bottom: 5px;
   overflow: hidden;
    
}
.delete{
    background-color: red;
    
    margin-left: 300px;
    height: 20px;
    position: fixed;

}
.edit{
     background-color: rgb(0, 94, 255);
   
    margin-left: 250px;
    position: fixed;
}
.update input{
    height: 200px;
    margin-left: 10px;
    margin-top:100px;
}

@media screen and (max-width: 600px) {

  .main{
    display: none;
  }
  .inner {
    width: 70%;   
    margin-top: 50px;
    padding: 20px;
  }

  .inner input {
    margin-left: 0;
    width: 100%;
    font-size: 20px;
  }

  .inner1 {
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 8px;
  }

  .edit, .delete {
    position: static;  
    margin-left: 10px;
    height: auto;
    font-size: 14px;
  }

  .submit {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 22px;
  }

  .update input {
    width: 100%;
    height: 120px;
    margin-left: 0;
    margin-top: 20px;
  }
}


