.inner{
width: 500px;
height: fit-content;
border-color: black;
background: linear-gradient(90deg, #4e3b7a, #2444e2);padding:30px;
justify-items: center;
margin-top: 100px;
box-shadow: 0 1px 55px rgb(84, 84, 199);


}
.inner input{
    margin-left: 70px;
    font-size: 25px;
    margin-bottom: 20px;
    

}
.submit{
    font-size: 25px;
    margin-left: 5px;
    background-color: rgb(9, 247, 65);
}
.data{
   
}
.inner1{
  width: 400px;
  
  background-color: aliceblue;
  display: flex;
  padding:10px;
  margin-bottom: 5px;
   overflow: hidden;
    
}
.delete{
    background-color: red;
    
    margin-left: 300px;
    height: 20px;
    position: fixed;

}
.edit{
     background-color: rgb(0, 94, 255);
   
    margin-left: 250px;
    position: fixed;
}
.update input{
    height: 200px;
    margin-left: 10px;
    margin-top:100px;
}

